* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* styles.css */
.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

@media (max-width: 1024px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .cards-container {
    grid-template-columns: 1fr;
  }
}

/* header */
header {
  padding: 30px 40px 20px 40px;
  color: white;
}

header h1 {
  font-size: 32px;
  margin-bottom: 5px;
}

header p {
  opacity: 0.8;
  font-size: 14px;
}

header button {
  float: right;
  margin-top: -45px;
  background-color: #111827;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}

header button:hover {
  background-color: #1f2937;
}

/* buscador */
section {
  display: flex;
  gap: 15px;
  padding: 10px 40px 25px 40px;
}

section input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: none;
}

section select {
  padding: 10px;
  border-radius: 6px;
  border: none;
}

main {
  display: flex;
  gap: 30px;
  padding: 30px 40px;
}

.card {
  background: #ffffff;
  width: 340px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
}

.card-img {
  position: relative;
  height: 220px;
  overflow: hidden;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-img::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0.2));
}

.card-title {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  font-size: 26px;
  font-weight: bold;
  z-index: 2;
}

.badge {
  position: absolute;
  top: 15px;
  right: 15px;
  background: #1f2937;
  color: white;
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 12px;
  z-index: 2;
}

.badge-game {
  position: absolute;
  top: 50px;
  right: 15px;
  background: rgba(255,255,255,0.85);
  color: #111;
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 12px;
  z-index: 2;
}

/* body */
.cuerpo-card {
  padding: 20px;
}


.cuerpo-card h4 {
  font-size: 13px;
  color: #6b7280;
  margin-bottom: 5px;
}

.arma{
  width: 12px;
}

.cuerpo-card p {
  margin-bottom: 12px;
  font-size: 15px;
}

.tags {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 12px;
}

.tag {
  background: #f3f4f6;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 12px;
}

.stats {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 10px;
}

/* footer */
.Pie-Card {
  border-top: 1px solid #e5e7eb;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #6b7280;
}

