/* Todo el HTML */
:host {
  display: block;
  min-height: 100vh;
  background-color: #1a1a2e;
  text-align: center;
  font-family:cursive;
  padding-top: 40px;
}

/* Titulo */
h1 {
  color: white;
  margin-bottom: 20px;
}

/* contenedor */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0;
}

/* logo circular */
.logo img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  border: 8px solid white;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
}

/* pagina*/
.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 60px;
  padding-bottom: 60px;
  box-sizing: border-box;
}

.container {
  background-color: white;
  width: 400px;
  padding: 40px;
  border-radius: 10px;
}

/* Formulario */
form {
  text-align: left;
}

/* Inputs */
input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 999px;
}

/*boton*/
.btn-gamer {
  padding: 8px 18px;
  border-radius: 999px;
  background: #0f3460;
  color: white;
  border: none;
  cursor: pointer;
}
